@if (AuthorViewModels is null || !AuthorViewModels.Any())
{
    <div>Daten werden geladen...</div>
}
else
{
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Photo</th>
            <th>Name</th>
            <th>Beschreibung</th>
            <th>Geburtsdatum</th>
            <th>Aktion</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var author in AuthorViewModels)
        {
            <tr>
                <td>
                    <DataImageUri Image="@author.Photo"
                                  ImageMimeType="@author.PhotoMimeType" alt="@author.Name" width="100">
                    </DataImageUri>
                </td>
                <td>@author.Name</td>
                <td>@author.Description</td>
                <td>@(author.BirthDate is not null ? author.BirthDate.Value.ToShortDateString() : "k.A.")</td>
                <td>
                    <button class="btn btn-danger" @onclick="() => ShowConfirmationDialog(author)">Löschen</button>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <ConfirmDialog></ConfirmDialog>
}
